{{define "main"}}
    <div class="list-background">
        <div class = "list-content">
            {{.Content}}
        </div>
        <div class="timeline-body">
            <section class="portfolio-section" id="experience">
                
                <h2>Experience</h2>
                <div class="timeline-marker-div">
                    <ul>
                        {{ with .Site.GetPage "/portfolio" }} 
                        {{ range .Pages.ByDate.Reverse }}
                        <li>
                            <div class="timeline-dot"></div>
                            <div class="summary">
                                {{ .Content}}
                            </div>
                        </li>    
                        {{ end }}{{ end }}
                    </ul>
                </div>

            </section>
    
            <section class="portfolio-section" id="education">
                
                <h2>Education</h2>
                <div class="timeline-marker-div">
                    <ul>
                        {{ with .Site.GetPage "/education" }} 
                        {{ range .Pages.ByDate.Reverse }}
                        <li>
                            <div class="timeline-dot"></div>
                            <div class="summary">
                                {{ .Content }}
                            </div>
                        </li>    
                        {{ end }}{{ end }}
                    </ul>
                </div>
                
            </section>
        </div>


        <section id="Projects">
            <div style="height: 100px;"></div>
            <div class="list-content">

                {{ with .Site.GetPage "project/_index.md" }}{{ .Content }}{{ end }}

            </div>
        </section>
        
    </div>
{{ end }}
