{{define "main"}}
    <div class="list-background">
        <div class = "list-content">
            {{.Content}}
            <div id="experience"> </div>
        </div>

        <div class="experience">
            <h2>Experience</h2>
            <ul>
                {{ range .Pages.ByDate }}
                <li>
                    <div class="summary">
                        {{ .Content }}
                    </div>
                </li>    
                {{ end }}
            </ul>

        </div>
    </div>
{{ end }}
