{{ define "main" }}
<div class="hero">
    <div class="overlay"></div>
</div>

<div class="hero-text">

    <p>{{readFile "/content/quotes/karen.md"}}</p>
    <h1>WELCOME</h1>
    <div class="button">
        <a class="about-button" href="#aboutme">Who Am I?</a>
        <a class="contact-button" href="#contact">Let's Connect</a>
    </div>
</div>
<div id="aboutme">
    <h3>About me and the website</h3>
    <div class="aboutme">
        <div>
            {{ $ogimage := resources.Get "/images/portrait2.JPG" }}
            {{ $portrait := $ogimage.Resize "650x500" }}
            <img class="myportrait" src="{{ $portrait.RelPermalink }}">
        </div>
        <div>
            <p>As you might have already guessed, my name is Renzo Labajanan.</p>  
            <p>I'm an accounting college student in Mississippi. </p> 
            <p>Although I'm very passionate about the business genre, I also program/code on the side. </p> 
            <p>I hope one day I can combine these two fields into a career after college.</p> 
            <p>Regarding the website...</p>
            <a>The website is still under construction so please bear with me</a>
            <p>I plan to put a summary of portfoliuo and/or resume so please look out for that</p>
        </div>
    </div> 

    <div class="home-summary">
        {{.Site.Copyright}}
        {{ time "2016-05-28" }}
        
    </div>
</div>

{{ end }}